/* Основные стили формы */
html {
  font-family: "Space Mono", monospace;
  background-color: #ecf6fe;
}
.registration-form {
  /* max-width: 600px; */
  margin: 0 auto;
  padding: 48px 100px 48px 100px;
}

.form-title {
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #440a8f;
}

.form-row {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  flex: 100%;
}

.form-label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
}

.form-input {
  height: 26px;
  padding: 6px 20px 6px 20px;
  border: 2px solid;
  border-color: #8f6cbc;
  border-radius: 10px;
  font-size: 16x;
  font-weight: regular;
  transition: border-color 0.3s ease;
}
.form-input:hover {
  border-color: #440a8f;
}

.form-input::placeholder {
  color: #8f6cbc;
}

/* Стили для чекбоксов */
.form-checkboxes {
  margin-top: 30px;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
  line-height: 1.4;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 10px;
  margin-top: 2px;
}

/* Стили для хедера */
.HeaderBar {
  display: flex;
  font-size: 28px;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px 16px 20px;
  border-bottom: 1px solid #440a8f;
}

.infoHeader {
  display: flex;
  align-items: center;
  gap: 10px;
}

.infoHeader img {
  width: 24px;
  height: 24px;
}

.infoHeader p {
  margin: 0;
  font-weight: 500;
}
.register-btn {
  padding: 20px 32px 20px 32px;
  radius: 10px;
  border: solid;
  border-radius: 10px;
  opacity: 50%;
  height: 60px;
  weight: 153px;
  background-color: #242527;
  color: #ffffff;
}
